*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(208, 208, 208);
    margin: 0;
}

body .wrapper{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 1rem;
    grid-template-areas:
    "header header"
    "footer footer"
    ;
}

header{
    grid-area: header;
    height: 5rem;
    width: 100%;
    background-color: rgb(150, 158, 2);
    background-image: url(/images/logo/bonz.ai-logo-white-landscape.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

a{
    text-decoration: none;
    color: black;
}

.wrapper header .about{
    margin-left: 43%;
    margin-right: auto;
}
.wrapper header .book{
    margin-right: 1rem;
    
}




.wrapper footer{
    grid-area: footer;
    width: 100%;
    background-color: rgb(180, 202, 129);
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.wrapper footer p{
    justify-self: center;
    align-self: center;
}

