*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 210, 210);
    margin: 0;
}

h1{
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
}
p, li, h2, h3, a{
    font-family: 'Poppins', sans-serif;
}

body .wrapper{
    max-width: 1000px;
    margin: 1rem auto;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #D6E4AA;
}


.wrapper.index{
    grid-template-areas:
    "header header"
    "welcome welcome"
    "main main"
    "figure figure"
    "info info"
    "footer footer"
    ;
}
.wrapper.about_us{
    grid-template-areas:
    "header header"
    "main main "
    "footer footer"
    ;
}
.wrapper.booking{
    grid-template-areas:
    "header header"
    "booking booking"
    "footer footer"
    ;
}

.wrapper header{
    grid-area: header;
    height: 5rem;
    width: 100%;
    background-color: #F0DD92;
    background-image: url(/images/logo/bonz.ai-logo-white-landscape.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.wrapper header a{
    justify-self:center;
    align-self: center;    
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.wrapper footer{
    grid-area: footer;
    width: 100%;
    background-color: #F0DD92;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.wrapper footer p{
    justify-self: center;
    align-self: center;
}
    /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
   
    color: #707070;
  }
  
  /* Twitter */
  .fa-twitter {
   color: #707070;
    }
    .fa-instagram{
        color: #707070;
    }

/* INDEX PAGE */

.wrapper .greeting{
    grid-area: welcome;
    height: 15rem;
    background-image: url(/images/logo/bonz.ai-logo-white-symbol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper .welcome h1{
    text-align: center;
}

.wrapper .welcome button{
    width: 8rem;
    }

.wrapper main{
    grid-area: main;
    min-height: 10rem;
    padding: 2rem 2rem;
    text-align: center;
}

.wrapper figure{
    grid-area: figure;
    width: 100%;
    min-height: 5rem;
    background-color: #FFFFC5;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    margin: 0;
    }
.main__image{
    max-width: 100%;
    padding: 1rem;
}

.wrapper .sidebar_list{
    grid-area: info;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .info ul{
    list-style:square
}


/* ABOUT US  */
.wrapper .about__main{
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .about__main .main__text{
    padding: 0 3rem ;
}
    .about_us__main__h1{
        margin-bottom: 0;
    }

    .main__photo{
        width: 100%;
    }
    
    
    .wrapper main .room_photos{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr)
    }
    
    .main__rooms{
        width: 100%;
        padding: 5px;
    }   

    /* BOOKINGSITE */

    .wrapper .booking__main{
        grid-area: booking;
        width: 100%;
    }

    .booking__main .formul채r_head{
        background-image: url(/images/photos/07-night.jpg);
        height: 5rem;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    .booking__main .formul채r_head h1{
        color: white;
        
    }
    
    #formular {
         
        max-width: 600px;
        margin: 2rem auto 0 auto;
        border: 5px solid rgba(234,234,234,1.00);
        border-radius: 10px;
        background-color: rgba(225,225,225,1.00);
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        }
        #formular input[type=text],
        #formular input[type=email] {
        width: 100%;
        padding: 10px 5px 10px 10px;
        margin: 5px 0 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 18px;
        }
        
        #formular input[type=text]:focus,
        #formular input[type=email]:focus {
        background-color: rgba(254,255,226,1.00);
        }
        
        #formular input[type=submit] {
        width: 80%;
        background-color: rgba(42,90,157,1.00);
        color: rgba(255,255,255,1.00);
        padding: 15px 20px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 18px;
        }
        
        #formular input[type=reset] {
        width: 18%;
        background-color: rgba(95,95,95,1.00);
        color: rgba(255,255,255,1.00);
        padding: 15px 20px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 18px;
        }
        
        #formular input[type=submit]:hover,
        #formular input[type=reset]:hover {
        background-color: rgba(101,151,222,1.00);
        }
        
        /* MOBILTELEFON och SMARTPHONE (portrait/st책ende) */
        @media only screen and (max-width: 768px){
        #formular {
        width: 90%;
        }
        #formular input[type=submit],
        #formular input[type=reset] {
        width: 100%;
        }
    }
        #formular {
            width: 600px;
            border: 5px solid rgba(234,234,234,1.00);
            border-radius: 10px;
            background-color: rgba(225,225,225,1.00);
            padding: 20px;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            }
            
            #formular select {
            width: 100%;
            padding: 16px 20px;
            border: none;
            border-radius: 5px;
            background-color: rgba(242,242,242,1.00);
            font-size: 16px;
            }
            
            /* MOBILTELEFON och SMARTPHONE (portrait/st책ende) */
            @media only screen and (max-width: 768px){
            #formular {
            width: 90%;
            }
        }

@media screen and (min-width: 768px) {
    body .wrapper.index{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
        "header header header header"
        "welcome welcome welcome welcome"
        "main main main info"
        "figure figure figure info"
        "footer footer footer footer"
        ;
    }
    .wrapper main .room_photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "room1 room2"
        "room3 room4"
        ;
    }
    
    .main__room01{
        grid-area: room1;
        width: 100%;
    }
    .main__room02{
        grid-area: room2;
        width: 100%;
    }
    .main__room03{
        grid-area: room3;
        width: 100%;
    }
    .main__room04{
        grid-area: room4;
        width: 100%;
    }

    .wrapper figure{
        grid-template-columns: repeat(2, 1fr);
    }
}