*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(208, 208, 208);
    margin: 0;
}

body .wrapper{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 1rem;
    grid-template-areas:
    "header header"
    "welcome welcome"
    "main main"
    "figure figure"
    "info info"
    "footer footer"
    ;
}

header{
    grid-area: header;
    height: 5rem;
    width: 100%;
    background-color: rgb(150, 158, 2);
    background-image: url(/images/logo/bonz.ai-logo-white-landscape.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

a{
    text-decoration: none;
    color: black;
}

.wrapper header .about{
    margin-left: 43%;
    margin-right: auto;
}
.wrapper header .book{
    margin-right: 1rem;
    
}



.wrapper .welcome{
    grid-area: welcome;
    height: 15rem;
    background-image: url(/images/logo/bonz.ai-logo-white-symbol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .welcome h1{
    font-size:x-large;
    text-align: center;
}

.wrapper main{
    grid-area: main;
    min-height: 10rem;
    background-color: rgb(181, 224, 221);   
    padding: 2rem 5rem;
    text-align: center;
}

.wrapper figure{
    grid-area: figure;
    min-height: 20rem;
    background-color: blue;
}
.wrapper .info{
    grid-area: info;
    min-height: 10rem;
}
.wrapper footer{
    grid-area: footer;
}