*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(208, 208, 208);
    margin: 0;
}

body .wrapper{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 1rem;
    grid-template-areas:
    "header header"
    "main main "
    "footer footer"
    ;
}

header{
    grid-area: header;
    height: 5rem;
    width: 100%;
    background-color: rgb(150, 158, 2);
    background-image: url(/images/logo/bonz.ai-logo-white-landscape.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

a{
    text-decoration: none;
    color: black;
}

.wrapper header .about{
    margin-left: 43%;
    margin-right: auto;
}
.wrapper header .book{
    margin-right: 1rem;
    
}

.wrapper .about__main{
    grid-area: main;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .about__main .main__text{
    padding: 0 3rem ;
}
h1{
    margin-bottom: 0;
}


.main__photo{
    width: 100%;
}


.wrapper main .room_photos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr)
}

.main__rooms{
    width: 100%;
    padding: 5px;
}


.wrapper footer{
    grid-area: footer;
    width: 100%;
    background-color: rgb(180, 202, 129);
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.wrapper footer p{
    justify-self: center;
    align-self: center;
}


@media screen and (min-width: 500px) {
    .wrapper main .room_photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "room1 room2"
        "room3 room4"
        ;
    }
    
    .main__room01{
        grid-area: room1;
        width: 100%;
    }
    .main__room02{
        grid-area: room2;
        width: 100%;
    }
    .main__room03{
        grid-area: room3;
        width: 100%;
    }
    .main__room04{
        grid-area: room4;
        width: 100%;
    }

}